
.container{
  width: 95%;
  text-align: center;
  padding: 10px 10px;
}
.row{
  width: 100% !important;
}
.card{
  display: inline-block !important;
  width: 32% !important;
  border: 1px solid black;
  height: 700px;
  margin: 5px 3px !important;
  border-radius: 5px;
  background-color: #9CACBC;
}
// this is the image of the factory
.activator{
  width: 320px;
  height: 240px;
  margin-top: 3px !important;
  border-radius: 5px;
}

// when card is flipped
.weather{
  display: inline-block;
  width: 64px;
  height: 160px;
}
#weatherDiv{
  text-align: center !important;
}
.card-reveal{
  background-color: #9CACBC !important;
  padding-right: 20px!important;
  padding-left: 0px !important;
  margin:0;
}

#panel{
  height: 420px!important;
  text-align: center;
}

#map{
  width: 400px;
  height: 400px;
  // position: absolute;
  z-index: 1000!important;
  text-align: center!important;
  display: inline-block!important;
}
// map image
.map{
   display: block!important;
   border-radius: 5px!important;
   margin: 20px auto!important;
}
.directionsBtn{
margin: 20px auto;
}

// directions
.adp #panel{
  display: inline-block;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.22), 0 12.5px px 0 rgba(0, 0, 0, 0.21)!important;
  z-index: 1000!important;
  position: absolute!important;
  left: 0px!important;
  top: 0px!important;
  width:100%!important;
  height:100%!important;
  overflow: auto!important;
  background-color: white;
  color: black;
  height: .2px;
  width: .2px;
  text-align: center!important;
  border: 1px solid black!important;
}
