<div class="col-xs-12">
  <h1>New Location Form</h1>
  <form>
    <div class="form-group">
      <label>Location Name</label>
      <input type="text" class="form-control" placeholder="Location Name" ng-model="newTask.title"/>
    </div>
    <div class="form-group">
      <label>Location City And State</label>
      <input type="text" class="form-control" placeholder="City and State" ng-model="newTask.location"/>
    </div>
    <div class="form-group">
      <label>Emissions</label>
      <input type="text" class="form-control" placeholder="Emissions" ng-model="newTask.emissions"/>
    </div>
    <button class="btn btn-default" ng-click="addNew()">Submit</button>
  </form>
</div>
