<div class="col-xs-12">
  <h1>New Location Form</h1>
  <form>
    <div class="form-group">
      <label>Location Name</label>
      <input type="text" class="form-control" placeholder="Location Name" ng-model="newTask.title"/>
    </div>
    <div class="form-group">
      <label>Location City And State</label>
      <input type="text" class="form-control" placeholder="City and State" ng-model="newTask.location"/>
    </div>
    <div class="form-group">
      <label>Emissions</label>
      <input type="text" class="form-control" placeholder="Emissions" ng-model="newTask.emissions"/>
    </div>
    <div class="carousel">
      <a class="carousel-item" alt="ACC" href="#"><img src="images/ACC Al.jpg"></a>
      <a class="carousel-item" alt="Axiall" href="#"><img src="images/axiall aberdeen.jpg"></a>
      <a class="carousel-item" alt="BASF" href="#"><img src="images/Basf.jpg"></a>
      <a class="carousel-item" alt="Continental" href="#"><img src="images/Continental.jpg"></a>
      <a class="carousel-item" alt="Corning" href="#"><img src="images/Corning Diesel.jpg"></a>
      <a class="carousel-item" alt="John Zink" href="#"><img src="images/JZ tulsa.jpg"></a>
      <a class="carousel-item" alt="Leaf River" href="#"><img src="images/LeafRiver Energy Center Taylorsville, MS.jpg"></a>
      <a class="carousel-item" alt="PSC" href="#"><img src="images/PSC Metals Chattanooga.jpg"></a>
      <a class="carousel-item" alt="Trojan" href="#"><img src="images/Trojan Sandersville.jpg"></a>
      <a class="carousel-item" alt="515" href="#"><img src="images/Willaims compression 515 wilkes-barre, PA.jpg"></a>
      <a class="carousel-item" alt="240" href="#"><img src="images/Williams 240 NJ.jpg"></a>
      <a class="carousel-item" alt="517" href="#"><img src="images/Williams 517 Benton PA.gif"></a>
    </div>
    <button class="btn btn-default" ng-click="addNew()">Submit</button>
  </form>
</div>
