<div class="col-xs-12">
  <h1>New Location Form</h1>
  <form>
    <div class="form-group">
      <label>Location Name</label>
      <input type="text" class="form-control" placeholder="Location Name" ng-model="newTask.title"/>
    </div>
    <div class="form-group">
      <label>Location City And State</label>
      <input type="text" class="form-control" placeholder="City and State" ng-model="newTask.location"/>
    </div>
    <div class="form-group">
      <label>Emissions</label>
      <input type="text" class="form-control" placeholder="Emissions" ng-model="newTask.emissions"/>
    </div>
    <div class="carousel">
      <a class="carousel-item" alt="ACC" href="images/ACC Al.jpg"><img src="images/ACC Al.jpg">American Colloid Company</a>
      <a class="carousel-item" alt="Axiall" href="images/axiall aberdeen.jpg"><img src="images/axiall aberdeen.jpg">Axiall</a>
      <a class="carousel-item" alt="BASF" href="images/Basf.jpg"><img src="images/Basf.jpg">BASF</a>
      <a class="carousel-item" alt="Continental" href="images/Continental.jpg"><img src="images/Continental.jpg">Continental</a>
      <a class="carousel-item" alt="Corning" href="images/Corning Diesel.jpg"><img src="images/Corning Diesel.jpg">Corning</a>
      <a class="carousel-item" alt="John Zink" href="images/JZ tulsa.jpg"><img src="images/JZ tulsa.jpg">John Zink</a>
      <a class="carousel-item" alt="Leaf River" href="images/LeafRiver Energy Center Taylorsville, MS.jpg"><img src="images/LeafRiver Energy Center Taylorsville, MS.jpg">Leaf River</a>
      <a class="carousel-item" alt="PSC" href="images/PSC Metals Chattanooga.jpg"><img src="images/PSC Metals Chattanooga.jpg">PSC Metals</a>
      <a class="carousel-item" alt="Trojan" href="images/Trojan Sandersville.jpg"><img src="images/Trojan Sandersville.jpg">Trojan Battery</a>
      <a class="carousel-item" alt="515" href="images/Willaims compression 515 wilkes-barre, PA.jpg"><img src="images/Willaims compression 515 wilkes-barre, PA.jpg">William St. 515</a>
      <a class="carousel-item" alt="240" href="images/Williams 240 NJ.jpg"><img src="images/Williams 240 NJ.jpg">William St. 240</a>
      <a class="carousel-item" alt="517" href="images/Williams 517 Benton PA.gif"><img src="images/Williams 517 Benton PA.gif">William St. 517</a>
    </div>
    <button class="btn btn-default" ng-click="addNew()">Submit</button>
  </form>
</div>
